<!DOCTYPE html>
{% extends "website_app/base.html" %}
{% block body_block %}
<section id="about">
    <h2>About Us</h2>
    <h4>LifeLong Blood Bank is a leading Blood Bank in the state of Karnataka with a world class infrastructure and all the facilities mandated by the WHO and the Government of India(GoI)
        We started fully functioning in 2018 and from then on saving lives has only been our motto. We are fuelled by the power and enthusiasm of the youth and the
        neverlasting endeavour to help others in need. </h4>
    <br/><br/>
    <h4>This is a Blood Bank Management system developed by the students of JSS Science and Technology University, Mysuru under the guidance of Dr. Manimala S.</h4>
</section>


{% endblock %}
