<!DOCTYPE html>
<html>
{% load static %}
<head>
  <meta charset="utf-8">
  <title>LongLife Blood Bank</title>

  <!-- CSS Stylesheets-->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static "css/styles.css" %}">
  <link rel="icon" href="{% static "images/favicon.ico" %}">
  <!--google fonts-->
  <link
    href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap"
    rel="stylesheet">
  <!-- <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet"> -->
  <!-- <link href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,700;1,500;1,700&display=swap" rel="stylesheet"> -->

  <!--Font Awesome -->
  <script src="https://kit.fontawesome.com/39abeea9a1.js" crossorigin="anonymous"></script>

  <!--Bootstrap Scripts-->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</head>

<body>

  <section id="title">
    <div class="container-fluid">


      <!-- Nav Bar -->
      <nav class="navbar  navbar-expand-lg navbar-dark">
        <a class="navbar-brand " href="{% url 'website:index' %}"> LongLife Blood Bank </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'website:index' %}">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'website:contact' %}">Contact</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'website:about' %}">About</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link" href="#" data-toggle="dropdown">Register</a>
              <div class="dropdown-menu">
                <a class="dropdown-item font-weight-bolder" href="{% url 'website:registerdonor' %}">Donor</a>
                <a class="dropdown-item font-weight-bolder" href="{% url 'website:registerhospital' %}">Hospital</a>
            </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'admin:index' %}">Admin</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'website:availability' %}">Availability</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </section>

  {% block body_block %}

  {% endblock %}

  <section id="cta">

    <h3 class="cta-heading">Help Us in Saving Lives!</h3>
    <button type="button" class="btn btn-lg btn-outline-light download-button" onclick="location.href='{% url "website:registerdonor" %}'"><i class="fas fa-user-tie"></i> Donor Register</button>
    <button type="button" class="btn btn-lg btn-outline-light download-button" onclick="location.href='{% url "website:registerhospital" %}'"><i class="far fa-hospital"></i> Hospital Register</button>

  </section>


  <!-- Footer -->

  <footer id="footer">
    <i class="social fab fa-twitter"></i>
    <i class="social fab fa-facebook-f"></i>
    <i class="social fab fa-instagram"></i>
    <i class="social fas fa-envelope"></i>
    <br><br>
    <p>© Copyright 2018-2020 LongLife Blood Bank</p>
    <p>JSS Science and Technology University, Mysuru</p>
    <p> Developed By: Vikash Kumar, Vachan Patil, V Harshith, Venkatsudheer</p>

  </footer>


</body>

</html>
